@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon {
  transition: transform 0.5s ease;
}

.menu-icon.open {
  transform: rotate(90deg);
}

.mobile-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.mobile-nav.open {
  max-height: 500px; /* Adjust based on your content height */
}

.mobile-nav.closing {
  max-height: 0;
}

.zoomBtn {
  @apply w-16 h-16 flex justify-center items-center rounded-full bg-white absolute top-1/2 bottom-1/2 group-hover:-translate-y-1/2 opacity-0 group-hover:opacity-100 transition-all duration-300 right-1/2 left-1/2 -translate-x-1/2 z-20;
}

.imageHover {
  @apply bg-primary_color h-full px-4 w-full absolute bottom-0 opacity-0 group-hover:opacity-80 transition-opacity duration-700 ease-in-out left-0 z-20 flex items-center justify-center;
}
.bgImage {
  @apply bg-[url('./assets/Home/AllEllipes.jpg')];
}
.box-shadow-hover:hover {
  filter: drop-shadow(0 0 2px #ffffff);
}
.fade {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
